*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    padding: 0px auto;
}

header{
    height: 70px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8%;
}


nav a{
    text-decoration: none;
    padding: 9px;
    border-radius: 30px;
}

h1,footer{
    text-align: center;
}

h1{
    margin: 20px;
}

table{
    margin: 0px auto;
    margin-bottom: 20px;
}

table th,td{
    padding: 9px;
}

footer{
    height: 40px;
    padding: 10px 0px ;
}
